body{
    background-color: #222222;
    color: aliceblue;
}
.wrapping-img{
    width: 100%;
    text-align: center;
}
img{
    width: 200px;
    padding: 10px;
    padding-bottom: 0px;
    border: 5px solid red;
    border-radius: 50% 50% 0% 50%;
margin: 50px;
box-sizing: border-box;
}
span, div{
    /* width: 200px; */
    padding: 1em;
    
    border: 5px solid red;
    margin: 1em;
    border-color: bisque;

}
div{
    width: 200px;
    display: inline-block;
}
.midle{
    margin: 70px 100px
}